body.orbitron-theme {
  font-family: 'Orbitron', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  background: #113A47;
}

text-glow(color1, color2) {
  text-shadow: 0 0 0.2vw color1,
    0 0 0.6vw color1,
    0 0 1vw color1,
    0 0 1vw color2,
    0 0 2vw color2,
    0 0 2vw color2,
    0 0 2vw color2,
    0 0 2vw color2;
}

text-glow-normal() {
  color: #D7ECFF;
  text-glow(#fff, #228DFF)
}

text-glow-hurry() {
  color: #fd9e9e;
  text-glow(#fd9e9e, #bb1f1f)
}

box-glow() {
  box-shadow: 0 0 0.2vw #fff,
    0 0 0.6vw #fff,
    0 0 1vw #fff,
    0 0 1.5vw #228DFF,
    0 0 2.5vw #228DFF,
    0 0 3vw #228DFF,
    0 0 4vw #228DFF,
    0 0 2vw #228DFF,
    inset 0 0 0.2vw #fff,
    inset 0 0 0.6vw #fff,
    inset 0 0 1vw #fff,
    inset 0 0 1.5vw #228DFF,
    inset 0 0 2.5vw #228DFF,
    inset 0 0 3vw #228DFF,
    inset 0 0 4vw #228DFF,
    inset 0 0 2vw #228DFF;
}

.orbitron-theme {
  .timerFont {
    font-family: 'Orbitron', sans-serif;
    text-glow-normal();
  }

  .buttons {
    div {
      color: #D7ECFF;

      .sub {
        color: #a9bac9;
      }
    }
  }

  // Buton Colors
  #play {
    background-color: #19420c;
  }

  #play:hover, #play:focus, #play:active {
    background-color: #286c14;
  }

  #pause {
    background-color: #4a1010;
  }

  #pause:hover, #pause:focus, #pause:active {
    background-color: #751a1a;
  }

  #restart {
    background-color: #0b303c;
  }

  #restart:hover, #restart:focus, #restart:active {
    background-color: #135267;
  }


  // Tick animation
  .animate .tick {
    animation: ticker 1s infinite linear;
  }

  @keyframes ticker {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  #timerInput {
    border: white solid 1px;
    background-color: transparent;
    line-height: 1.6em;
    padding-top: 0.25em;
    letter-spacing: 2vw;

    box-glow();

    &:focus {
      outline: none;
      border: white solid 3px;
    }
  }

  #timerOptions {
    label {
      padding-top: 1em;
      color: #fff;
      font-size: 2em;
      // text-glow-normal();
      display: flex;
      align-items: center;
    }

    input {
      margin-right: 2em;
      margin-bottom: 0.8em;
      transform: scale(2);
    }
  }

  .hurry .digit{
    animation: hurry 1s step-start infinite;
  }

  .hurry .tick{
    animation: hurry 1s step-start infinite, ticker 1s infinite linear;
  }

  @keyframes hurry {
    50% {
      text-glow-hurry();
    }
  }

  header {
    background-color: #0b303c;
    color: white;
    letter-spacing: 3px;
    text-shadow: 0 0 0.2vw #fff,
    0 0 0.6vw #fff,
    0 0 1vw #fff,
    0 0 1vw #228DFF,
    0 0 2vw #228DFF,
    0 0 2vw #228DFF,
    0 0 2vw #228DFF,
    0 0 2vw #228DFF;
  }

}