// @import './orbitron-font.css';



body.orbitron-theme {
  font-family: 'Orbitron', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  background: #113A47;
}

.orbitron-theme {

  .timerFont {
    font-family: 'Orbitron', sans-serif;
    color: #D7ECFF;
    text-shadow: 0 0 0.2vw #fff,
      0 0 0.6vw #fff,
      0 0 1vw #fff,
      0 0 1.5vw #228DFF,
      0 0 2.5vw #228DFF,
      0 0 3vw #228DFF,
      0 0 4vw #228DFF,
      0 0 2vw #228DFF;
      /* text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 15px #228DFF, 0 0 25px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF; */
  }
}

.buttons {
  div {
    color: #D7ECFF;

    .sub {
      color: #a9bac9;
    }
  }
}