
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
html, body {
  font-family: 'Orbitron', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  background: #113A47;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

#timerDisplay {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  padding-top: 3.2vw;
}

#timerDisplay span {
  width: 10vw;
  display: inline-block;
  text-align: center;
}

.timerFont {
  user-select: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 10vw;
  color: #D7ECFF;
  text-shadow: 0 0 0.2vw #fff,
    0 0 0.6vw #fff,
    0 0 1vw #fff,
    0 0 1.5vw #228DFF,
    0 0 2.5vw #228DFF,
    0 0 3vw #228DFF,
    0 0 4vw #228DFF,
    0 0 2vw #228DFF;
    /* text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 15px #228DFF, 0 0 25px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF; */
}

.animate .tick {
  animation: ticker 1s infinite linear;
}

@keyframes ticker {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.buttons {
  user-select: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  letter-spacing: 3px
}

.buttons div {
  flex: 1;
  flex-grow: 1;
  color: #D7ECFF;
  text-align: center;
  padding: 5vh 1.5vw;
  cursor: pointer;
}

.title {
  display: block;
  font-size: 12vh;
}

.sub {
  display: block;
  font-size: 5vh;
  margin-top: 3px;
  color: #a9bac9;
}

#play {
  background-color: #19420c;
}

#play:hover, #play:focus, #play:active {
  background-color: #286c14;
}

#pause {
  background-color: #4a1010;
}

#pause:hover, #pause:focus, #pause:active {
  background-color: #751a1a;
}

#restart {
  background-color: #0b303c;
}

#restart:hover, #restart:focus, #restart:active {
  background-color: #135267;
}

.hide {
  display: none !important;
}

@media (orientation : portrait) {

  .buttons {
    flex-direction: column;
  }

  .buttons div {
    padding: 5vh 1.5vw;
  }

  .title {
    font-size: 10vw;
  }

  .sub {
    display: none;
  }
}


@media (max-height : 150px) {
  .sub {
    display: none;
  }
}

#timerEdit {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#timerInput:focus {
  outline: none;
  border: white solid 3px;
}
#timerInput {
  border: white solid 1px;
  background-color: transparent;
  line-height: 1.6em;
  text-align: center;
  padding-top: 0.25em;
  width: 66vw;
  letter-spacing: 2vw;

  box-shadow: 0 0 0.2vw #fff,
    0 0 0.6vw #fff,
    0 0 1vw #fff,
    0 0 1.5vw #228DFF,
    0 0 2.5vw #228DFF,
    0 0 3vw #228DFF,
    0 0 4vw #228DFF,
    0 0 2vw #228DFF,
    inset 0 0 0.2vw #fff,
    inset 0 0 0.6vw #fff,
    inset 0 0 1vw #fff,
    inset 0 0 1.5vw #228DFF,
    inset 0 0 2.5vw #228DFF,
    inset 0 0 3vw #228DFF,
    inset 0 0 4vw #228DFF,
    inset 0 0 2vw #228DFF;
}